<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../resource/css/estilos.css">
    <link rel="stylesheet" href="../resource/css/skeleton.css">

    <title>Menu Principal</title>
  </head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: coral ;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav" style="color: black;">
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="/tablet">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="platos" href="/tablet/1">Platos Principales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tablet/3">Bebestibles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tablet/4">Postres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tablet/5">Entrada</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tablet/2">Ensaladas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tablet/6">Salsas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tablet/3">Promociones</a>
        </li>
      </ul>
      <div class="two columns u-pull-right">
        <ul>
            <li class="submenu">
              <p></p>
                <img src="../resource/imagenes/cart.png" width="50px" class="mr-5" id="img-carrito">
                <div id="carrito"  class="align-baseline">
                  <h4>Pedido</h4>      
                  <table  id="lista-carrito" class="table table-responsive u-full-width">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <p class="ml-3 mb-0 ">Total <b class="ml-3 mb-0 shoppingCartTotal">$0</b></p>
                        
                        <a href="#" id="vaciar-carrito" class="button btn btn-danger u-full-width">Vaciar pedidos</a>
                        <a href="/pedir" id="hacer-pedido" class="btn btn-warning u-full-width" >Pedir</a>
                </div>
            </li>
        </ul>
    </div>
    </div>  
  </nav>

  <!--Platos que se muestran en el menu-->
  <div class="container" id="contenido"></div>


<script>
  //Añadiendo los platos a la vista
  let data = `<%- contenidos %>`;
  document.getElementById("contenido").innerHTML = "<h2> <%= cat %> </h2>" + data ;
</script>

<script src="../resource/funciones/tablet.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>